@import url('https://fonts.googleapis.com/css2?family=Karla+Tamil+Upright:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla+Tamil+Inclined:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');


@font-face {
  font-family: 'ChenetClassicTamil';
  src: url('/fonts/chenet/chenet-classic-tamil/Tamilri_Chenet_Classic_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChenetClassicTamil';
  src: url('/fonts/chenet/chenet-classic-tamil/Tamilri_Chenet_Classic_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChenetThamiliBrahmi';
  src: url('/fonts/chenet/tamili-brahmi/Tamilri_Chenet__Thamili-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EVatteluttu';
  src: url('/fonts/e-vatteluttu-ot/vatteluttu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Karla Tamil Upright: CSS classes */
.karla-tamil-upright-regular {
  font-family: "Karla Tamil Upright", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.karla-tamil-upright-bold {
  font-family: "Karla Tamil Upright", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Karla Tamil Inclined: CSS classes */
.karla-tamil-inclined-regular {
  font-family: "Karla Tamil Inclined", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.karla-tamil-inclined-bold {
  font-family: "Karla Tamil Inclined", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Noto Sans Tamil: CSS class for a variable style */
.noto-sans-tamil-variable {
  font-family: "Noto Sans Tamil", sans-serif;
  font-weight: 100 900;
  font-style: normal;
}

.noto-sans-tamil-light {
  font-family: "Noto Sans Tamil", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Oi: CSS class */
.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

/* kavivanar css */
.kavivanar-regular {
  font-family: "Kavivanar", cursive;
  font-weight: 400;
  font-style: normal;
}


